[Desktop Entry]
Encoding=UTF-8
Name=Google Mail Notify
Name[de_DE]=Google Mail Notify
Icon=gmailnotify.svg
Type=Application
Categories=GNOME;GTK;Settings;DesktopSettings;
Exec=gmailnotify
StartupNotify=false
Terminal=false